.qodo
.vscode
.env
node_modules

# ------ Temporaries ------
#This is in utils in the backend folder
mailer.js

#---Note: Dont forget to add the necessary routes in the index.js file

#This is in the controllers folder
Expenses.controller.js
ParentPayment.controller.js


#This is in the routes folder
managerExpenses.route.js
parentpayment.route.js


